<html>
    <head>
        <link rel="stylesheet" href="static/base.css">
        <title>Finance Game Thing</title>
        <script src="static/base.js"></script>

    </head>
    <body onload="loads()">
    <div class="container">
        <div class="left bordered">
        <div class="menu center">
            <div class="stats">
                <div class="happiness bordered">
                    <span >Happiness<div><div class="happinessbar">9/10</div></div></span>
                </div>
=            </div>
            <div class="totalassets">
                <span id="assets" class="indicator">Total Assets: ?</span>
            </div>
            <div class="name">
                <span class="indicator">Username - </span><span id="age">18y 0m</span>
                <br>
                <div>
                <input id="nextmonth" type="button" style="margin: 10px 0px; padding:10px 20px" value="Next month" onclick="nextmonth();" />
            </div>
        </div>
        <div id="statement" class="statement">
            <span>Loading...</span>

        </div>
        <div>
            <span>Expenditure level</span>
            <span>Determines expediture cost, but also your happiness level</span><br>

                <button onclick="explevel(0)">Low</button> <button onclick="explevel(1)">Medium</button> <button onclick="explevel(2)">High</button>

        </div>
        </div>
        <div class="news bordered" >
            <div class="header center">
                <h2>Latest News</h2>
            </div>
            <div id="stories" class="stories" style="overflow: auto;">
            </div>
        </div>
        <div id="graphs" class="graphs" style="overflow: auto;">
            <!-- graphs -->
            <!-- <img id="snp500graph" alt="" style="width: 100%; "> -->
            <!-- <img src -->
        </div>
        <div class="assets">
            <table >
                <tbody id="assettable">
                <!-- <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Buy</th>
                    <th>Sell</th>
                </tr> -->
            </tbody>
            </table>
            <div id="tips">
                <div style="font-weight: 600; text-align: center;" >Tip</div>
                <div id = "tip"></div>
            </div>
        </div>

    </div>
</body>
</html>
