<html>
    <head>
        <link rel="stylesheet" href="static/base.css">
        <title>Finance Game Thing</title>
        <script src="static/base.js"></script>

    </head>
    <body onload="loads()">
    <div class="container">
        <div class="left bordered">
        <div class="menu center">
            <div class="stats">
                <div class="happiness bordered">
                    <span >Happiness</br><div class="happinessbar">9/10</div></span>
                </div>
                <div class="health bordered">
                    <span >Health</br><div class="healthbar">9/10</div></span>
                </div>
            </div>
            <div class="totalassets">
                <span id="assets" class="indicator">Total Assets: £5000</span>
            </div>
            <div class="name">
                <span class="indicator">Jeff Bloggs </span><span id="age">18y 0m</span>
                <br>
                <input id="nextmonth" type="button" class="myButton" value="Next month" onclick="nextmonth();" />
            </div>
        </div>
        <div class="statement">
            <div class="income">
                <span>+500</span>
            </div>
            <div class="expenditures">
                <span>-500</span>
            </div>
        </div>
        </div>
        <div class="news bordered" >
            <div class="header center">
                <h2>Latest News</h2>
            </div>
            <div id="stories" class="stories" style="overflow: auto;">
            </div>
        </div>
        <div id="graphs" class="graphs" style="overflow: auto;">
            <!-- graphs -->
            <!-- <img id="snp500graph" alt="" style="width: 100%; "> -->
            <!-- <img src -->
        </div>
        <div class="assets">
            <table >
                <tbody id="assettable">
                <!-- <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Buy</th>
                    <th>Sell</th>
                </tr> -->
            </tbody>
            </table>
            <div id="tips">
                <div style="font-weight: 600; text-align: center;" >Tip</div>
                <div id = "tip"></div>
            </div>
        </div>

    </div>
</body>
</html>
