<html>
    <head>
        <link rel="stylesheet" href="static/base.css">
        <title>Finance Game Thing</title>
        <script src="static/base.js"></script>

    </head>
    <body onload="loads()">
    <div class="container">
        <div class="left bordered">
        <div class="menu center">
            <div class="stats">
            <div class="happiness">
                <span>Happiness 9/10</span>
            </div>
            <div class="health bordered">
                <span>Health 9/10</span>

            </div>
            </div>
            <div class="totalassets">
                <span id="assets">Total Assets: £5000</span>
            </div>
            <div class="name">
                <span>Jeff Bloggs </span><span id="age">18y 0m</span>
                <br>
                <input id="nextmonth" type="button" value="Next month" onclick="nextmonth();" />

            </div>
        </div>
        <div class="statement">
            <div class="income">
                <span>+500</span>
            </div>
            <div class="expenditures">
                <span>-500</span>
            </div>
        </div>
        </div>
        <div class="news bordered" >
            <div class="header center">
                <h2>Latest News</h2>
            </div>
            <div id="stories" class="stories" style="overflow: auto;">
                <!-- <h2>This Month<h2> -->
                <div class="story">
                    <h3>S&P on track for bad quarter</h3>
                    <p>more description text about how this event is really fucking bad</p>
                </div>
                <div class="story">
                    <h3>BTc on track for bad quarter</h3>
                    <p>more description text about how this event is really fucking bad</p>
                </div>
                <div class="story">
                    <h3>S&P on track for bad quarter</h3>
                    <p>more description text about how this event is really fucking bad</p>
                </div>
                <div class="story">
                    <h3>S&P on track for bad quarter</h3>
                    <p>more description text about how this event is really fucking bad</p>
                </div>
                <div class="story">
                    <h3>S&P on track for bad quarter</h3>
                    <p>more description text about how this event is really fucking bad</p>
                </div>
                <div class="story">
                    <h3>S&P on track for bad quarter</h3>
                    <p>more description text about how this event is really fucking bad</p>
                </div>
                <div class="story">
                    <h3>S&P on track for bad quarter</h3>
                    <p>more description text about how this event is really fucking bad</p>
                </div>


            </div>
        </div>
        <div class="graphs">
            graphs
        </div>
        <div class="assets">
            <table >
                <tbody id="assettable">
                <!-- <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Buy</th>
                    <th>Sell</th>
                </tr> -->
            </tbody>
            </table>
        </div>
    </div>
</body>
</html>
